@model IEnumerable<Sys_Recom_EComm_PC_comp.Models.Keyword>

@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Token)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Token)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.KeywordID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.KeywordID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.KeywordID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
